/*estilos gerais*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
/*variaveis*/
:root {
  --fontsize: 70px;
  --borderRadius: 6px;
  --margin: 1em auto;
  --fontcolor: #fff4db;
  --panelcolor: #f0d5ad;
}
/*background*/
body {
  height: 100dvh;
  background-color: rgba(103, 9, 82, 0.215);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 100%;
  background-image: url(/tarotGame/assets/download.png);
}
/*estilos do cabeçalho*/
.cabecalho {
  width: 100%;
  height: 5em;
  display: flex;
  flex-direction: row;
  background-color: #6155f5;
  border-bottom: solid 4px #febc2f;
}

.imgLogo {
  display: flex;
  align-items: center;
  margin-left: 1em;
}

.h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-size: 1.8em;
  font-family: "mogra";
  color: var(--fontcolor);
}

/*estilos do texto inicial*/
.container {
  margin: 0 auto;
  position: relative;
  width: 80em;
}

h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.1em auto 0 auto;
  color: var(--fontcolor);
  font-size: 78px;
  font-family: "cookie";
}

.infoInput {
  height: 4em;
  width: 34em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2em auto;
  background-color: #f7e5cc;
  border-radius: var(--borderRadius);
  border: solid 2px #997d55;
  box-shadow: 0 0 40px 10px #f0d5ad;
}

.infoInput input {
  width: 38em;
  height: 3.5em;
  border-radius: var(--borderRadius);
  border: solid 2px #decaae;
  padding-left: 1em;
}

.infoInput input::placeholder {
  font-size: 18px;
  font-weight: 600;
}

.infoInput button {
  background-color: #362c4e;
  color: #e4e1f4;
  margin-left: -12.3em;
  width: 12em;
  height: 2.8em;
  font-size: 14px;
  font-weight: bolder;
  border-radius: var(--borderRadius);
}

.resultado {
  width: 80%;
  display: flex;
  justify-content: right;
  margin: 4em auto;
  gap: 10px;
}

.carta {
  width: 15em;
  height: 18em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: var(--borderRadius);
  background-color: var(--panelcolor);

  h3 {
    font-size: 2.5rem;
    color: var(--fontcolor);
    margin-bottom: 0.5em;
  }

  p {
    background-color: var(--panelcolor);
    border-radius: var(--borderRadius);
    width: 12.5em;
    padding: 0 0.5em;
    margin: 3em 0.5em 0 0.5em;
    font-size: 1.2em;
    color: var(--fontcolor);
    word-break: break-all;
    text-align: center;
  }
}

.carta img {
  width: 11em;
  object-fit: contain;
  border-radius: var(--borderRadius);
}

.deck {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.deck1,
.deck2,
.deck3 {
  position: absolute;
  left: 2em;
}

.deckback img,
.deck img {
  margin-top: 2.6em;
  width: 8em;
  border-radius: var(--borderRadius);
}

.deckback {
  position: absolute;
  bottom: 0.6em;
  z-index: -1;
  left: 2em;
}

.deck1,
.deck2,
.deck3{
  display: none;
}
/*Animação do deck de cartas*/
.deck1Active {
  transition: 4s ease-in-out;
  -webkit-animation: flip1 1s cubic-bezier(0.95, 0.05, 0.795, 0.035) forwards;
  animation: flip1  1s 0.16s cubic-bezier(0.95, 0.05, 0.795, 0.035) forwards;
}
.deck2Active {
  transition: 4s ease-in-out;
  -webkit-animation: flip2 1s cubic-bezier(0.95, 0.05, 0.795, 0.035) forwards;
  animation: flip2 1s 0.36s cubic-bezier(0.95, 0.05, 0.795, 0.035) forwards;
}
.deck3Active {
  transition: 4s ease-in-out;
  -webkit-animation: flip3 1s cubic-bezier(0.95, 0.05, 0.795, 0.035) forwards;
  animation: flip3 1s 0.56s cubic-bezier(0.95, 0.05, 0.795, 0.035) forwards;
}

@keyframes flip1 {
  0% {
    -webkit-transform: translateX(0) rotateY(0deg);
    transform: translateX(0) rotateY(0deg);
  }

  55% {
    -webkit-transform: translateX(28.75) rotateY(30deg);
    transform: translateX(28.75em) rotateY(30deg);
  }
  80% {
    -webkit-transform: translateX(28.813) rotateY(60deg);
    transform: translateX(28.813em) rotateY(60deg);
  }

  85% {
    -webkit-transform: translateX(29) rotateY(90deg);
    transform: translateX(27em) rotateY(90deg);
  }
  90% {
    -webkit-transform: translateX(29) rotateY(120deg);
    transform: translateX(27em) rotateY(120deg);
  }
  95% {
    -webkit-transform: translateX(29) rotateY(150deg);
    transform: translateX(27em) rotateY(150deg);
  }
  100% {
    -webkit-transform: translateX(29) rotateY(180deg);
    transform: translateX(27em) rotateY(180deg);
  }
}
@keyframes flip2 {
  0% {
    -webkit-transform: translateX(0) rotateY(0deg);
    transform: translateX(0) rotateY(0deg);
  }

  55% {
    -webkit-transform: translateX(694px) rotateY(30deg);
    transform: translateX(694px) rotateY(30deg);
  }
  80% {
    -webkit-transform: translateX(690px) rotateY(60deg);
    transform: translateX(690px) rotateY(60deg);
  }

  85% {
    -webkit-transform: translateX(690px) rotateY(90deg);
    transform: translateX(690px) rotateY(90deg);
  }
  90% {
    -webkit-transform: translateX(690px) rotateY(120deg);
    transform: translateX(690px) rotateY(120deg);
  }
  95% {
    -webkit-transform: translateX(700px) rotateY(150deg);
    transform: translateX(690px) rotateY(150deg);
  }
  100% {
    -webkit-transform: translateX(690px) rotateY(180deg);
    transform: translateX(690px) rotateY(180deg);
  }
}
@keyframes flip3 {
  0% {
    -webkit-transform: translateX(0) rotateY(0deg);
    transform: translateX(0) rotateY(0deg);
  }

  55% {
    -webkit-transform: translateX(945px) rotateY(30deg);
    transform: translateX(945px) rotateY(30deg);
  }
  80% {
    -webkit-transform: translateX(945px) rotateY(60deg);
    transform: translateX(945px) rotateY(60deg);
  }

  85% {
    -webkit-transform: translateX(945px) rotateY(90deg);
    transform: translateX(945px) rotateY(90deg);
  }
  90% {
    -webkit-transform: translateX(945px) rotateY(120deg);
    transform: translateX(945px) rotateY(120deg);
  }
  95% {
    -webkit-transform: translateX(945px) rotateY(150deg);
    transform: translateX(945px) rotateY(150deg);
  }
  100% {
    -webkit-transform: translateX(945px) rotateY(180deg);
    transform: translateX(945px) rotateY(180deg);
  }
}
